# XML exercise

Using data from [**mondial database**](https://drive.google.com/file/d/14lFT4nWHgwN36ij4XZh6OUuup-K9qLgR/view?usp=sharing) find the answers to following questions:

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [1]:
import pandas as pd
import xml.etree.ElementTree as et

In [2]:
tree = et.parse('mondial.xml')
root = tree.getroot()

## 1. 10 countries with the lowest infant mortality rates

In [23]:
country_mort = {'name': [],
               'infant_mortality_rate': []}

for country in root:
    name_value = country[0].text
    country_mort['name'].append(name_value)
    
    mort_value = country.findtext('infant_mortality')
    country_mort['infant_mortality_rate'].append(mort_value)

In [31]:
df = pd.DataFrame(country_mort)
df.sort_values(by = 'infant_mortality_rate', ascending = False).head(10)

                         name infant_mortality_rate
213  Central African Republic                 92.86
230             Guinea-Bissau                 90.92
214                      Chad                  90.3
174                 Argentina                  9.96
72                   Thailand                  9.86
64                    Bahrain                  9.68
131                 Greenland                  9.42
204                  Botswana                  9.38
138              Sint Maarten                  9.05
107                 Sri Lanka                  9.02

## 2. 10 cities with the largest population

In [ ]:
city_pop = {'name': [],
           'population': []}

find_city = root

for city in root