In [1]:
# import geopandas and matplotlib
import geopandas as gpd
import matplotlib.pyplot as plt

In [66]:
# countries data
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

**Print the top 5 rows of world dataframe.**

In [67]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

**Remove continents which have only one country in dataframe.**

In [70]:
# continents with only one country
continent_counts = world['continent'].value_counts()
continent_w1_city = continent_counts[continent_counts == 1].index.tolist()
continent_w1_city

['Seven seas (open ocean)', 'Antarctica']

In [84]:
# remove these continents
# for cont in continent_w1_city:
#     world.drop(world[world['continent'] == cont], inplace = True)

# world[world['continent'] == continent_w1_city[1]]
# world[world['continent'] == 'Antarctica']
world[world['continent'] in continent_w1_city]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

**Create dataframe with top 3 most populated countries from each continent and store the result in dataframe with name 'world_filtered'.**

**Print the 'world_filtered' dataframe.**

-----------------
## Part I: Create a choropleth map of world:

   - First using **Geopandas**
       - Note: Geopandas may not work well on your computers, especially on Windows computers, it is advised to use Google Collab for this assignment. 
   - Second using **Plotly**
       - Note: Plotly may not work well on Jupyter Labs, it is advised to use Jupyter Notebooks or Google Collab for the plotly portion. 


> #### Notes
> * the colors of countries from 'world_filtered' are based on population
> * other countries can stay white

### GeoPandas

In [ ]:
# create figure and axes



# create map from world_filtered data-frame




# add the rest of the countries

### Plotly

-----------
## Part II: More Geopandas

In Geopandas:

* add New York, Berlin, Paris, Toronto, Calgary, Tokyo to the map you have created before
    * to get geometry of these cities use the function, **gpd.tools.geocode**(['New York', 'Berlin', 'Paris','Toronto', 'Calgary', 'Tokyo'])
    * if you do not have the geopy library instaled, install it with the following command **in the jupyter notebook cell** `!pip install geopy`

In [ ]:
# get geometry


# create figure and axes




# create map from world_filtered data-frame




# add the rest of the countries



# add cities