In [1]:
"""
A pie chart is a circular graphical representation of a dataset, 
where each category frequency is represented by a slice (or circular sector) 
with an amplitude in degrees given by the single frequency percentage over the total of frequencies. 

You can obtain the degrees of sectors following these steps:
    - Calculate frequencies total.
    - Calculate percentage of every category frequency dividing it by the frequencies total.
    - Transform every percentage in degrees multiplying it for 360.

You are given a dictionary data with keys being the data categories (represented by letters) and values 
being the data frequencies. Implement a function that returns a map to design a pie chart, 
like to say the same dictionary with values transformed in degrees instead of frequencies. 
Round final values to the nearest tenth.

Example:
    pie_chart({ "a": 1, "b": 2 }) ➞ { "a": 120, "b": 240 }

    pie_chart({ "a": 30, "b": 15, "c": 55 }) ➞ { "a": 108, "b": 54, "c": 198 }

    pie_chart({ "a": 8, "b": 21, "c": 12, "d": 5, "e": 4 }) ➞ { "a": 57.6, "b": 151.2, "c": 86.4, "d": 36, "e": 28.8 }
"""


def pie_chart(dictionary):
    # get sum of dict
    values = dictionary.values()
    sum_values = sum(values)
    
    # ratio from value to degrees
    ratio = 360 / sum_values 
    
    for key in dictionary:
        dictionary[key] = round(dictionary[key] * ratio, 2)
    
    return dictionary

In [2]:
pie_chart({ "a": 8, "b": 21, "c": 12, "d": 5, "e": 4 })

{'a': 57.6, 'b': 151.2, 'c': 86.4, 'd': 36.0, 'e': 28.8}

In [3]:
"""
Create a function that performs an even-odd transform to a list, n times. 
Each even-odd transformation:
    - Adds 2(+2) to each odd integer.
    - Subtracts 2 (-2) to each even integer.

Example:
    even_odd_transform([3, 4, 9], 3) ➞ [9, -2, 15]
    # Since [3, 4, 9] => [5, 2, 11] => [7, 0, 13] => [9, -2, 15]

    even_odd_transform([0, 0, 0], 10) ➞ [-20, -20, -20]

    even_odd_transform([1, 2, 3], 1) ➞ [3, 0, 5]

"""

def even_odd_transform(lst,repeat):
    new_list=[]
    for num in lst:
        if num % 2:
            num = num + (2 * repeat)
        else:
            num = num - (2 * repeat)
        new_list.append(num)
    return new_list

In [4]:
even_odd_transform([1, 2, 3], 1)

[3, 0, 5]

In [7]:
import os 
os.getcwd()
os.chdir('E:\\lighthouse_data_notes\\Week_4\\Day_5\\assessment-exam-student-python')

In [8]:
import pandas as pd
import sys
from supporting_files.data_loader import load_excel

In [20]:
df = load_excel('supporting_files/SaleData.xlsx')


"""
Write a Pandas program to find the total sale amount (Sale_amt) region and manager wise. 
Order the dataframe by Sale_amt, starting with the highest.
Output should be DataFrame with 3 columns (order is important):
    - Region
    - Manager
    - Sale_amt
and numeric index starting with 0 (after sorting).
"""

def compute_total_sale(df):
    final_df = df.groupby(['Region','Manager']).sum().sort_values('Sale_amt', ascending=False)
               df.groupby(['Region','Manager'])[['Sale_amt']].sum().sort_values('Sale_amt', ascending=False).reset_index()
    return final_df

In [39]:
df.groupby(['Region','Manager'])[['Sale_amt']].sum().sort_values('Sale_amt', ascending=False).reset_index()

    Region  Manager  Sale_amt
0  Central  Hermann  365108.5
1     East   Martha  272803.0
2  Central   Martha  199690.0
3  Central  Timothy  140955.0
4  Central  Douglas  124016.0
5     West  Timothy   88063.0
6     West  Douglas   66836.0
7     East  Douglas   48204.0

In [89]:
import pandas as pd
import sys
from supporting_files.data_loader import load_excel

df = load_excel('supporting_files/SaleData.xlsx')


"""
Write a function to count the manager wise sale (sale_cnt)
and mean value of sale amount (sale_mean). 
Order the output dataframe by sale_cnt, starting with the highest.
Output should be DataFrame with 3 columns (order is important):
    - Manager
    - sale_cnt
    - sale_mean
and numeric index starting with 0 (after sorting).
"""

def compute_agg_stats(df):
    final_df = pd.DataFrame()
    
    final_df['Manager'] = df.groupby('Manager').size().index
    final_df['sale_cnt'] = df.groupby('Manager').size().values
    final_df['sale_mean'] = df.groupby('Manager')['Sale_amt'].mean().values
    final_df = final_df.sort_values('sale_cnt', ascending=False).reset_index(drop=True)
    return final_df

In [90]:
compute_agg_stats(df)

   Manager  sale_cnt     sale_mean
0   Martha        14  33749.500000
1  Hermann        12  30425.708333
2  Timothy         9  25446.444444
3  Douglas         8  29882.000000

In [ ]:
"""
 - Connect to the hr.db (stored in supporting-files directory) with sqlite3 
 - Write a query to get the department name and number of employees in the department.
 - Sort the data by number of employees starting from the highest.



Expected columns:
    - department_name
    - number_of_employees

Notes:
    - Use tables employees and departments
    - You can connect to DB from Jupyter Lab/Notebook, explore the table and try different queries
    - In the variable 'SQL' store only the final query ready for validation 
"""


SQL = """
SELECT department_name, COUNT() as number_of_employees
FROM employees
JOIN departments ON employees.department_id = departments.department_id
GROUP BY employees.department_id
ORDER BY number_of_employees DESC, department_name DESC
"""