In [1]:
import pandas as pd
import numpy as np

## Series

In [13]:
s = pd.Series(np.random.random(5), index = ['a', 'b', 'c', 'd', 'e'])

In [17]:
s

a    0.835149
b    0.700242
c    0.620350
d    0.149970
e    0.590384
dtype: float64

In [18]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [19]:
pd.Series(np.random.randn(5))

0   -0.283642
1    0.980015
2    0.463527
3    2.406495
4    1.619991
dtype: float64

In [22]:
d = {'b': 1, 'a': 0, 'c': 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [33]:
pd.Series(5, index = ['a', 'b', 'c', 'd', 'e'])

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [40]:
s[0]
s[:3]
s[s > s.median()]
s[[4, 3, 1]]
np.exp(s)

a    2.305157
b    2.014240
c    1.859578
d    1.161799
e    1.804682
dtype: float64

In [41]:
s.dtype

dtype('float64')

In [43]:
s.to_numpy()

array([0.83514887, 0.70024188, 0.62034952, 0.14996998, 0.59038449])

In [48]:
s['a']
s['e']
s
'e' in s
'f' in s

False

In [49]:
s['f']

KeyError: 'f'

In [52]:
s + s
s * 2
np.exp(s)

a    2.305157
b    2.014240
c    1.859578
d    1.161799
e    1.804682
dtype: float64

In [55]:
s1 = s[1:]
s2 = s[:-1]
s1 + s2

a         NaN
b    1.400484
c    1.240699
d    0.299940
e         NaN
dtype: float64

In [56]:
s = pd.Series(np.random.randn(5), name = 'something')
s

0    0.031410
1    1.742933
2    0.678530
3   -0.197283
4   -0.242087
Name: something, dtype: float64

In [57]:
s.name

'something'

## DataFrame

In [4]:
d = {'one':pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])} 
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [5]:
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [6]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [8]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns = ['two', 'three'])

AttributeError: type object 'object' has no attribute 'dtype'

In [18]:
d = {'one': [1., 2., 3., 4.],
'two': [4., 3., 2., 1.]}
d
pd.DataFrame(d)
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [33]:
pd.DataFrame(pd.Series(np.random.randn(5), name='something'))

   something
0   0.514285
1  -0.866882
2  -0.970728
3   0.469966
4   0.521107

In [34]:
df['one']
df['three'] = df['one'] * df['two']
df['three']
df['flag'] = df['one'] > 2

KeyError: 'two'

In [41]:
df = pd.DataFrame(np.random.randn(8, 3), columns=list('ABC'))
df*5+2
1/df

          A         B          C
0  0.641994 -0.626476   1.387432
1 -1.231784  1.118172  -5.160342
2 -1.101669  2.346224  -0.673695
3 -7.032814 -2.685738 -29.924313
4 -0.659014  1.077937   1.039454
5 -1.824911  0.670562   1.069832
6  1.999572 -1.792894  -3.964720
7  0.736924 -1.832103   0.629071

In [45]:
df1 = pd.DataFrame({'a': [1, 0, 1], 'b': [0, 1, 1]}, dtype=bool)
df2 = pd.DataFrame({'a': [0, 1, 1], 'b': [1, 1, 0]}, dtype=bool)
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False