In [150]:
import requests
import pandas as pd
from pandas.io.json import json_normalize
from config import *
import sqlite3
from sqlite3 import Error

### Yelp URL setup

In [275]:
yelp_food = requests.get('https://api.yelp.com/v3/businesses/search',
                       params = {'location': 'Pelham',
                                'categories': '(Food, all)'},
                       headers = {'Authorization': 'Bearer ' + yelp_api})

In [279]:
yelp_food

In [276]:
yelp_restaurant = requests.get('https://api.yelp.com/v3/businesses/search',
                       params = {'location': 'Pelham',
                                'categories': '(restaurants, all)'},
                       headers = {'Authorization': 'Bearer ' + yelp_api})

In [280]:
yelp_restaurant

### Yelp

In [282]:
yelpf_json = yelp_food.json()
df_yelpf = pd.json_normalize(yelpf_json, record_path = 'businesses')
df_yelpf.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,QIRXFdPm3tq0Ofs85MGgcQ,smiley-brothers-specialty-foods-pelham,Smiley Brothers Specialty Foods,https://s3-media1.fl.yelpcdn.com/bphoto/N1KbRQ...,False,https://www.yelp.com/biz/smiley-brothers-speci...,67,"[{'alias': 'butcher', 'title': 'Butcher'}, {'a...",5.0,[],...,33.276575,-86.794589,214 Huntley Pkwy,None,,Pelham,35124,US,AL,"[214 Huntley Pkwy, Pelham, AL 35124]"
1,7ord2hjOgOQPfjTKcZZFaQ,donut-joes-pelham-2,Donut Joe's,https://s3-media4.fl.yelpcdn.com/bphoto/VEZccm...,False,https://www.yelp.com/biz/donut-joes-pelham-2?a...,72,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",4.5,[delivery],...,33.285370,-86.813130,3199 Lee St,,,Pelham,35124,US,AL,"[3199 Lee St, Pelham, AL 35124]"
2,kSPfFPA8Biu95lkJBGaI2Q,oak-mountain-state-park-pelham,Oak Mountain State Park,https://s3-media2.fl.yelpcdn.com/bphoto/134qe6...,False,https://www.yelp.com/biz/oak-mountain-state-pa...,72,"[{'alias': 'parks', 'title': 'Parks'}, {'alias...",4.5,[],...,33.324802,-86.758769,200 Terrace Dr,None,None,Pelham,35124,US,AL,"[200 Terrace Dr, Pelham, AL 35124]"
3,2MfWGC9uKlGTBfwD1vp8iA,the-beer-hog-pelham,The Beer Hog,https://s3-media3.fl.yelpcdn.com/bphoto/Iy20vK...,False,https://www.yelp.com/biz/the-beer-hog-pelham?a...,69,"[{'alias': 'beerbar', 'title': 'Beer Bar'}]",4.5,[delivery],...,33.335033,-86.791951,112 Bowling Ln,None,,Pelham,35124,US,AL,"[112 Bowling Ln, Pelham, AL 35124]"
4,zNiROv1_0jkrYSyWwqxG4A,cozumel-grill-and-mexican-restaurant-pelham,Cozumel Grill & Mexican Restaurant,https://s3-media3.fl.yelpcdn.com/bphoto/lwkQ2m...,False,https://www.yelp.com/biz/cozumel-grill-and-mex...,91,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.0,[delivery],...,33.310263,-86.803390,2754 Pelham Pkwy,,,Pelham,35124,US,AL,"[2754 Pelham Pkwy, Pelham, AL 35124]"

In [285]:
yelpr_json = yelp_restaurant.json()
df_yelpr = pd.json_normalize(yelpr_json, record_path = 'businesses')
df_yelpr.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,QIRXFdPm3tq0Ofs85MGgcQ,smiley-brothers-specialty-foods-pelham,Smiley Brothers Specialty Foods,https://s3-media1.fl.yelpcdn.com/bphoto/N1KbRQ...,False,https://www.yelp.com/biz/smiley-brothers-speci...,67,"[{'alias': 'butcher', 'title': 'Butcher'}, {'a...",5.0,[],...,33.276575,-86.794589,214 Huntley Pkwy,None,,Pelham,35124,US,AL,"[214 Huntley Pkwy, Pelham, AL 35124]"
1,7ord2hjOgOQPfjTKcZZFaQ,donut-joes-pelham-2,Donut Joe's,https://s3-media4.fl.yelpcdn.com/bphoto/VEZccm...,False,https://www.yelp.com/biz/donut-joes-pelham-2?a...,72,"[{'alias': 'donuts', 'title': 'Donuts'}, {'ali...",4.5,[delivery],...,33.285370,-86.813130,3199 Lee St,,,Pelham,35124,US,AL,"[3199 Lee St, Pelham, AL 35124]"
2,kSPfFPA8Biu95lkJBGaI2Q,oak-mountain-state-park-pelham,Oak Mountain State Park,https://s3-media2.fl.yelpcdn.com/bphoto/134qe6...,False,https://www.yelp.com/biz/oak-mountain-state-pa...,72,"[{'alias': 'parks', 'title': 'Parks'}, {'alias...",4.5,[],...,33.324802,-86.758769,200 Terrace Dr,None,None,Pelham,35124,US,AL,"[200 Terrace Dr, Pelham, AL 35124]"
3,2MfWGC9uKlGTBfwD1vp8iA,the-beer-hog-pelham,The Beer Hog,https://s3-media3.fl.yelpcdn.com/bphoto/Iy20vK...,False,https://www.yelp.com/biz/the-beer-hog-pelham?a...,69,"[{'alias': 'beerbar', 'title': 'Beer Bar'}]",4.5,[delivery],...,33.335033,-86.791951,112 Bowling Ln,None,,Pelham,35124,US,AL,"[112 Bowling Ln, Pelham, AL 35124]"
4,zNiROv1_0jkrYSyWwqxG4A,cozumel-grill-and-mexican-restaurant-pelham,Cozumel Grill & Mexican Restaurant,https://s3-media3.fl.yelpcdn.com/bphoto/lwkQ2m...,False,https://www.yelp.com/biz/cozumel-grill-and-mex...,91,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",4.0,[delivery],...,33.310263,-86.803390,2754 Pelham Pkwy,,,Pelham,35124,US,AL,"[2754 Pelham Pkwy, Pelham, AL 35124]"

In [298]:
yelpr_json['businesses']

[{'id': 'QIRXFdPm3tq0Ofs85MGgcQ',
  'alias': 'smiley-brothers-specialty-foods-pelham',
  'name': 'Smiley Brothers Specialty Foods',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/N1KbRQ0bErs8H9zJ_sSgvg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/smiley-brothers-specialty-foods-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 67,
  'categories': [{'alias': 'butcher', 'title': 'Butcher'},
   {'alias': 'cheese', 'title': 'Cheese Shops'},
   {'alias': 'delis', 'title': 'Delis'}],
  'rating': 5.0,
  'coordinates': {'latitude': 33.276575, 'longitude': -86.794589},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '214 Huntley Pkwy',
   'address2': None,
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['214 Huntley Pkwy', 'Pelham, AL 35124']},
  'phone': '+12054068421',
  'display_phone': '(205) 406-8421',
  'distance': 4132.216502899391},
 {'id': '7ord2hjOgOQPfjTKcZZFaQ',
  'alias': 'donut-joes-pelham-2',
  'name': "Donut Joe's",
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/VEZccmSA6-QDPhxXYwOLuQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/donut-joes-pelham-2?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 72,
  'categories': [{'alias': 'donuts', 'title': 'Donuts'},
   {'alias': 'coffee', 'title': 'Coffee & Tea'},
   {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.28537, 'longitude': -86.81313},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '3199 Lee St',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['3199 Lee St', 'Pelham, AL 35124']},
  'phone': '+12056636006',
  'display_phone': '(205) 663-6006',
  'distance': 3419.447603523255},
 {'id': 'kSPfFPA8Biu95lkJBGaI2Q',
  'alias': 'oak-mountain-state-park-pelham',
  'name': 'Oak Mountain State Park',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/134qe6byTUQAzN3_uvKCJQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/oak-mountain-state-park-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 72,
  'categories': [{'alias': 'parks', 'title': 'Parks'},
   {'alias': 'hiking', 'title': 'Hiking'},
   {'alias': 'fishing', 'title': 'Fishing'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.3248023, 'longitude': -86.7587688},
  'transactions': [],
  'location': {'address1': '200 Terrace Dr',
   'address2': None,
   'address3': None,
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['200 Terrace Dr', 'Pelham, AL 35124']},
  'phone': '+12056202520',
  'display_phone': '(205) 620-2520',
  'distance': 3846.32030602919},
 {'id': '2MfWGC9uKlGTBfwD1vp8iA',
  'alias': 'the-beer-hog-pelham',
  'name': 'The Beer Hog',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/Iy20vKDbTguhT-eNEm0FSA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/the-beer-hog-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 69,
  'categories': [{'alias': 'beerbar', 'title': 'Beer Bar'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.3350332, 'longitude': -86.7919511},
  'transactions': ['delivery'],
  'price': '$$',
  'location': {'address1': '112 Bowling Ln',
   'address2': None,
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['112 Bowling Ln', 'Pelham, AL 35124']},
  'phone': '+12053267151',
  'display_phone': '(205) 326-7151',
  'distance': 2437.711533996732},
 {'id': 'zNiROv1_0jkrYSyWwqxG4A',
  'alias': 'cozumel-grill-and-mexican-restaurant-pelham',
  'name': 'Cozumel Grill & Mexican Restaurant',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/lwkQ2m8NNWncULW0u0JwdA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/cozumel-grill-and-mexican-restaurant-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 91,
  'categories': [{'alias': 'mexican', 'title': 'Mexican'},
   {'alias': 'seafood', 'title': 'Seafood'},
   {'alias': 'bars', 'title': 'Bars'}],
  'rating': 4.0,
  'coordinates': {'latitude': 33.3102631, 'longitude': -86.8033902},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '2754 Pelham Pkwy',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['2754 Pelham Pkwy', 'Pelham, AL 35124']},
  'phone': '+12056218886',
  'display_phone': '(205) 621-8886',
  'distance': 531.4037055541467},
 {'id': '-gl10DhQvVo11qy6Z_L1EQ',
  'alias': 'margarita-grill-pelham',
  'name': 'Margarita Grill',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/1PZi4wpjoUnho0K5JWXCbw/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/margarita-grill-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 168,
  'categories': [{'alias': 'bars', 'title': 'Bars'},
   {'alias': 'mexican', 'title': 'Mexican'},
   {'alias': 'musicvenues', 'title': 'Music Venues'}],
  'rating': 3.5,
  'coordinates': {'latitude': 33.3321025, 'longitude': -86.789456},
  'transactions': ['delivery'],
  'price': '$$',
  'location': {'address1': '234 Cahaba Valley Rd',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['234 Cahaba Valley Rd', 'Pelham, AL 35124']},
  'phone': '+12059827281',
  'display_phone': '(205) 982-7281',
  'distance': 2205.3779826488862},
 {'id': 'apqod4J5sk7pPg7hiDLo8Q',
  'alias': 'taqueria-garibaldi-pelham',
  'name': 'Taqueria Garibaldi',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/dSda2D2vf7tNJ4RSHDa2uA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/taqueria-garibaldi-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 75,
  'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.2649603419202,
   'longitude': -86.8111669644713},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '3550 Pelham Pkwy',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['3550 Pelham Pkwy', 'Pelham, AL 35124']},
  'phone': '+12054065811',
  'display_phone': '(205) 406-5811',
  'distance': 5533.948824673726},
 {'id': '5LiLJ2c_U3SkYUrI-z26gA',
  'alias': 'ninos-italian-restaurant-pelham',
  'name': "Nino's Italian Restaurant",
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/uYELkXB_a-H-WEKwQ3JCvw/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/ninos-italian-restaurant-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 106,
  'categories': [{'alias': 'italian', 'title': 'Italian'}],
  'rating': 4.0,
  'coordinates': {'latitude': 33.3146742, 'longitude': -86.8006662},
  'transactions': ['delivery'],
  'price': '$$',
  'location': {'address1': '2698 Pelham Pkwy',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['2698 Pelham Pkwy', 'Pelham, AL 35124']},
  'phone': '+12056201116',
  'display_phone': '(205) 620-1116',
  'distance': 274.8341253339783},
 {'id': 'vuXieq62klWE8O0ZUXIjdA',
  'alias': 'pelham-diner-pelham-3',
  'name': 'Pelham Diner',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/0MKzQN5ApcS961ct87Yvag/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/pelham-diner-pelham-3?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 59,
  'categories': [{'alias': 'diners', 'title': 'Diners'},
   {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.342055, 'longitude': -86.794462},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '2147 Pelham Pkwy',
   'address2': '',
   'address3': None,
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['2147 Pelham Pkwy', 'Pelham, AL 35124']},
  'phone': '+12057333756',
  'display_phone': '(205) 733-3756',
  'distance': 3187.2895474038046},
 {'id': 'aDDFf7LMxaPoxznTfCYU0w',
  'alias': 'la-libertad-pelham',
  'name': 'La Libertad',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/L30qMmN9etrHQ-MCc08vJg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/la-libertad-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 40,
  'categories': [{'alias': 'salvadoran', 'title': 'Salvadoran'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.3052897453308, 'longitude': -86.806364133954},
  'transactions': ['delivery'],
  'price': '$$',
  'location': {'address1': '2834 Pelham Pkwy',
   'address2': None,
   'address3': None,
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['2834 Pelham Pkwy', 'Pelham, AL 35124']},
  'phone': '+12056201909',
  'display_phone': '(205) 620-1909',
  'distance': 1157.8270007012577},
 {'id': 'NRUOaXTBc2isa04DwYpXaA',
  'alias': 'cajun-boys-and-our-poboys-pelham',
  'name': 'Cajun Boys and Our Poboys',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/5MYk5viqXT3D6n7ng3GRgg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/cajun-boys-and-our-poboys-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 112,
  'categories': [{'alias': 'cajun', 'title': 'Cajun/Creole'},
   {'alias': 'southern', 'title': 'Southern'},
   {'alias': 'salad', 'title': 'Salad'}],
  'rating': 3.5,
  'coordinates': {'latitude': 33.2853214, 'longitude': -86.8129252},
  'transactions': ['delivery', 'pickup'],
  'price': '$$',
  'location': {'address1': '3120 Co Rd 52',
   'address2': '',
   'address3': None,
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['3120 Co Rd 52', 'Pelham, AL 35124']},
  'phone': '+12056244612',
  'display_phone': '(205) 624-4612',
  'distance': 3370.662077752857},
 {'id': 'IfB_j8_F4cHk-Dv0IXLs4g',
  'alias': 'highland-gourmet-scones-pelham',
  'name': 'Highland Gourmet Scones',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/Y01R3n4b3Jl_eUfKhFtPeQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/highland-gourmet-scones-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 21,
  'categories': [{'alias': 'bakeries', 'title': 'Bakeries'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.331613, 'longitude': -86.7904683},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '210 Cahaba Valley Rd',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['210 Cahaba Valley Rd', 'Pelham, AL 35124']},
  'phone': '+12059910442',
  'display_phone': '(205) 991-0442',
  'distance': 2138.8094687408984},
 {'id': 'CX10_f9pMF3NsYm5e5TMQA',
  'alias': 'texas-roadhouse-pelham-3',
  'name': 'Texas Roadhouse',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/WeBYqKTqHF32TSmBzQ7oCg/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/texas-roadhouse-pelham-3?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 95,
  'categories': [{'alias': 'steak', 'title': 'Steakhouses'},
   {'alias': 'bbq', 'title': 'Barbeque'},
   {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
  'rating': 3.5,
  'coordinates': {'latitude': 33.339626, 'longitude': -86.781424},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '60 Drivers Way',
   'address2': None,
   'address3': None,
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['60 Drivers Way', 'Pelham, AL 35124']},
  'phone': '+12059857427',
  'display_phone': '(205) 985-7427',
  'distance': 3301.7924311836323},
 {'id': 'vI9qSbsOGYkVLxQRVqIrjQ',
  'alias': 'ooka-chinese-and-japanese-restaurant-birmingham',
  'name': 'Ooka Chinese & Japanese Restaurant',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/KvnKicM35xLR8p7JxCeZQA/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/ooka-chinese-and-japanese-restaurant-birmingham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 69,
  'categories': [{'alias': 'japanese', 'title': 'Japanese'},
   {'alias': 'chinese', 'title': 'Chinese'},
   {'alias': 'sushi', 'title': 'Sushi Bars'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.3457805002756,
   'longitude': -86.7947798454037},
  'transactions': ['delivery', 'pickup'],
  'price': '$$',
  'location': {'address1': '2005 Valleydale Rd',
   'address2': 'Ste 6',
   'address3': '',
   'city': 'Birmingham',
   'zip_code': '35244',
   'country': 'US',
   'state': 'AL',
   'display_address': ['2005 Valleydale Rd', 'Ste 6', 'Birmingham, AL 35244']},
  'phone': '+12055185590',
  'display_phone': '(205) 518-5590',
  'distance': 3596.0062574785284},
 {'id': '2Q55ANrnmkrcsyWLl3RTdA',
  'alias': 'cracker-barrel-old-country-store-pelham-2',
  'name': 'Cracker Barrel Old Country Store',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/OE1skRMfEPrpVsBC6OCwqQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/cracker-barrel-old-country-store-pelham-2?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 54,
  'categories': [{'alias': 'tradamerican', 'title': 'American (Traditional)'},
   {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'},
   {'alias': 'southern', 'title': 'Southern'}],
  'rating': 4.0,
  'coordinates': {'latitude': 33.33611, 'longitude': -86.78173},
  'transactions': ['delivery', 'pickup'],
  'price': '$',
  'location': {'address1': '655 Cahaba Valley Rd',
   'address2': '',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['655 Cahaba Valley Rd', 'Pelham, AL 35124']},
  'phone': '+12059871555',
  'display_phone': '(205) 987-1555',
  'distance': 2986.1638570752734},
 {'id': '55CTKKa57getKytwAAufaA',
  'alias': 'cafe-trentuno-pelham',
  'name': 'Cafe Trentuno',
  'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/GU9tYLY6Dog76LKN5VYtLQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/cafe-trentuno-pelham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 38,
  'categories': [{'alias': 'pizza', 'title': 'Pizza'},
   {'alias': 'italian', 'title': 'Italian'}],
  'rating': 4.0,
  'coordinates': {'latitude': 33.294424, 'longitude': -86.81334},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '3018 Pelham Pkwy',
   'address2': 'Ste 102',
   'address3': '',
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['3018 Pelham Pkwy', 'Ste 102', 'Pelham, AL 35124']},
  'phone': '+12056242499',
  'display_phone': '(205) 624-2499',
  'distance': 2537.8624102884983},
 {'id': 'jravLxo2Nd9PYJOJGqKuRQ',
  'alias': 'baha-burger-hoover-2',
  'name': 'Baha Burger',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/kgr5vdCRjtDHUpEBvcBhzQ/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/baha-burger-hoover-2?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 280,
  'categories': [{'alias': 'burgers', 'title': 'Burgers'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.367677, 'longitude': -86.798926},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '4745 Chace Cir',
   'address2': 'Ste 125',
   'address3': '',
   'city': 'Hoover',
   'zip_code': '35244',
   'country': 'US',
   'state': 'AL',
   'display_address': ['4745 Chace Cir', 'Ste 125', 'Hoover, AL 35244']},
  'phone': '+12056826980',
  'display_phone': '(205) 682-6980',
  'distance': 6014.118460515447},
 {'id': 'ERQ7Gf3iHXqgZN344eDj8A',
  'alias': 'blue-pacific-at-hoover-foodmart-birmingham',
  'name': 'Blue Pacific At Hoover Foodmart',
  'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/6yhA9eSvbwydl3283P1vsw/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/blue-pacific-at-hoover-foodmart-birmingham?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 284,
  'categories': [{'alias': 'thai', 'title': 'Thai'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.39689, 'longitude': -86.80042},
  'transactions': ['delivery'],
  'price': '$',
  'location': {'address1': '3219 Lorna Rd',
   'address2': '',
   'address3': '',
   'city': 'Birmingham',
   'zip_code': '35216',
   'country': 'US',
   'state': 'AL',
   'display_address': ['3219 Lorna Rd', 'Birmingham, AL 35216']},
  'phone': '+12059780754',
  'display_phone': '(205) 978-0754',
  'distance': 9264.160841324867},
 {'id': 'V47cTUCG7Sw_0VLr9Kqn2g',
  'alias': 'burnette-farms-market-pelham-2',
  'name': 'Burnette Farms Market',
  'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/vXTwswkW7IBUbUI28wsL1g/o.jpg',
  'is_closed': False,
  'url': 'https://www.yelp.com/biz/burnette-farms-market-pelham-2?adjust_creative=LPId1SUeRZtBaNxwTXF8JQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=LPId1SUeRZtBaNxwTXF8JQ',
  'review_count': 16,
  'categories': [{'alias': 'farmersmarket', 'title': 'Farmers Market'},
   {'alias': 'giftshops', 'title': 'Gift Shops'},
   {'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'}],
  'rating': 4.5,
  'coordinates': {'latitude': 33.3359867750133,
   'longitude': -86.8092369429087},
  'transactions': [],
  'price': '$$',
  'location': {'address1': '8551 Helena Rd',
   'address2': '',
   'address3': None,
   'city': 'Pelham',
   'zip_code': '35124',
   'country': 'US',
   'state': 'AL',
   'display_address': ['8551 Helena Rd', 'Pelham, AL 35124']},
  'phone': '+12057309170',
  'display_phone': '(205) 730-9170',
  'distance': 2874.209037298709},
 {'id': 'i25uM1JmoVEmiD0u_2O_KA',
  'alias': 'cake-art-by-cynthia-bertolone-pelham-2',
  'name': 'Cake Art by Cynthia Bertolone',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/Ekt5h6vTNV958HVWlxFkEQ/o.jpg',
  'is_closed': False,

In [286]:
df_yelpf[['name', 'review_count', 'rating']]

                                  name  review_count  rating
0      Smiley Brothers Specialty Foods            67     5.0
1                          Donut Joe's            72     4.5
2              Oak Mountain State Park            72     4.5
3                         The Beer Hog            69     4.5
4   Cozumel Grill & Mexican Restaurant            91     4.0
5                      Margarita Grill           168     3.5
6                   Taqueria Garibaldi            75     4.5
7            Nino's Italian Restaurant           106     4.0
8                         Pelham Diner            59     4.5
9                          La Libertad            40     4.5
10           Cajun Boys and Our Poboys           112     3.5
11             Highland Gourmet Scones            21     4.5
12                     Texas Roadhouse            95     3.5
13  Ooka Chinese & Japanese Restaurant            69     4.5
14    Cracker Barrel Old Country Store            54     4.0
15                       Cafe Trentuno            38     4.0
16                         Baha Burger           280     4.5
17     Blue Pacific At Hoover Foodmart           284     4.5
18               Burnette Farms Market            16     4.5
19       Cake Art by Cynthia Bertolone            20     4.5

In [287]:
df_yelpr[['name', 'review_count', 'rating']]

                                  name  review_count  rating
0      Smiley Brothers Specialty Foods            67     5.0
1                          Donut Joe's            72     4.5
2              Oak Mountain State Park            72     4.5
3                         The Beer Hog            69     4.5
4   Cozumel Grill & Mexican Restaurant            91     4.0
5                      Margarita Grill           168     3.5
6                   Taqueria Garibaldi            75     4.5
7            Nino's Italian Restaurant           106     4.0
8                         Pelham Diner            59     4.5
9                          La Libertad            40     4.5
10           Cajun Boys and Our Poboys           112     3.5
11             Highland Gourmet Scones            21     4.5
12                     Texas Roadhouse            95     3.5
13  Ooka Chinese & Japanese Restaurant            69     4.5
14    Cracker Barrel Old Country Store            54     4.0
15                       Cafe Trentuno            38     4.0
16                         Baha Burger           280     4.5
17     Blue Pacific At Hoover Foodmart           284     4.5
18               Burnette Farms Market            16     4.5
19       Cake Art by Cynthia Bertolone            20     4.5

In [283]:
pop_yelp = df_yelpf[['name', 'review_count', 'rating']]
pop_yelp

                                  name  review_count  rating
0      Smiley Brothers Specialty Foods            67     5.0
1                          Donut Joe's            72     4.5
2              Oak Mountain State Park            72     4.5
3                         The Beer Hog            69     4.5
4   Cozumel Grill & Mexican Restaurant            91     4.0
5                      Margarita Grill           168     3.5
6                   Taqueria Garibaldi            75     4.5
7            Nino's Italian Restaurant           106     4.0
8                         Pelham Diner            59     4.5
9                          La Libertad            40     4.5
10           Cajun Boys and Our Poboys           112     3.5
11             Highland Gourmet Scones            21     4.5
12                     Texas Roadhouse            95     3.5
13  Ooka Chinese & Japanese Restaurant            69     4.5
14    Cracker Barrel Old Country Store            54     4.0
15                       Cafe Trentuno            38     4.0
16                         Baha Burger           280     4.5
17     Blue Pacific At Hoover Foodmart           284     4.5
18               Burnette Farms Market            16     4.5
19       Cake Art by Cynthia Bertolone            20     4.5

## Top 10 Ratings

In [271]:
pop_yelp.sort_values('rating', ascending = False).head(10)

                                  name  review_count  rating
0      Smiley Brothers Specialty Foods            67     5.0
9                          La Libertad            40     4.5
18               Burnette Farms Market            16     4.5
17     Blue Pacific At Hoover Foodmart           284     4.5
16                         Baha Burger           280     4.5
13  Ooka Chinese & Japanese Restaurant            69     4.5
11             Highland Gourmet Scones            21     4.5
1                          Donut Joe's            72     4.5
19       Cake Art by Cynthia Bertolone            20     4.5
8                         Pelham Diner            59     4.5

## Bottom 10 Ratings

In [293]:
pop_yelp.sort_values('rating').head(10)

                                  name  review_count  rating
5                      Margarita Grill           168     3.5
12                     Texas Roadhouse            95     3.5
10           Cajun Boys and Our Poboys           112     3.5
15                       Cafe Trentuno            38     4.0
4   Cozumel Grill & Mexican Restaurant            91     4.0
14    Cracker Barrel Old Country Store            54     4.0
7            Nino's Italian Restaurant           106     4.0
9                          La Libertad            40     4.5
17     Blue Pacific At Hoover Foodmart           284     4.5
16                         Baha Burger           280     4.5

## Summary

In [302]:
pop_yelp.describe()

       review_count     rating
count      20.00000  20.000000
mean       90.40000   4.275000
std        74.50355   0.412789
min        16.00000   3.500000
25%        50.50000   4.000000
50%        70.50000   4.500000
75%        97.75000   4.500000
max       284.00000   5.000000

## Top 10 Reviews

In [272]:
pop_yelp.sort_values('review_count', ascending = False).head(10)

                                  name  review_count  rating
17     Blue Pacific At Hoover Foodmart           284     4.5
16                         Baha Burger           280     4.5
5                      Margarita Grill           168     3.5
10           Cajun Boys and Our Poboys           112     3.5
7            Nino's Italian Restaurant           106     4.0
12                     Texas Roadhouse            95     3.5
4   Cozumel Grill & Mexican Restaurant            91     4.0
6                   Taqueria Garibaldi            75     4.5
2              Oak Mountain State Park            72     4.5
1                          Donut Joe's            72     4.5

## Bottom 10 Reviews

In [294]:
pop_yelp.sort_values('review_count').head(10)

                                  name  review_count  rating
18               Burnette Farms Market            16     4.5
19       Cake Art by Cynthia Bertolone            20     4.5
11             Highland Gourmet Scones            21     4.5
15                       Cafe Trentuno            38     4.0
9                          La Libertad            40     4.5
14    Cracker Barrel Old Country Store            54     4.0
8                         Pelham Diner            59     4.5
0      Smiley Brothers Specialty Foods            67     5.0
3                         The Beer Hog            69     4.5
13  Ooka Chinese & Japanese Restaurant            69     4.5

In [295]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [ ]:
df.to_sql()

### FourSquare

In [250]:
fsq_data = pd.read_csv('foursquare_data.csv')
df_fsq = pd.DataFrame(fsq_data)
df_fsq

,Name,Latitude,Longitude,Likes,City,State,Category
0,Warehouse31,33.296218,-86.813072,9,Pelham,AL,Arts/Entertainment
1,Cowboy Cheerleading,33.270635,-86.797635,0,Pelham,AL,Arts/Entertainment
2,Pelham Civic Complex,33.329325,-86.788621,10,Pelham,AL,Arts/Entertainment
3,Jelly's Bar,33.309999,-86.802501,3,Pelham,AL,Arts/Entertainment
4,Task 3,33.251538,-86.828777,0,Pelham,AL,Arts/Entertainment
...,...,...,...,...,...,...,...
101,King's Crest Lookout,33.275789,-86.759066,0,Pelham,AL,Outdoor/Rec
102,YMCA Pool,33.319859,-86.798235,1,Pelham,AL,Outdoor/Rec
103,gym time,33.241736,-86.817824,1,Pelham,AL,Outdoor/Rec
104,Ballantrae Club House,33.271496,-86.754196,6,Pelham,AL,Outdoor/Rec
105,Peavine Falls,33.304401,-86.758173,13,Pelham,AL,Outdoor/Rec

In [180]:
df_fsq.groupby('Category').size()

Category
Arts/Entertainment    25
Food                  30
Nightlife             24
Outdoor/Rec           27
dtype: int64

In [273]:
pop_fsq = df_fsq[df_fsq['Category'] == 'Food'][['Name', 'Likes']]
pop_fsq.groupby('Name').sum().sort_values('Likes', ascending = False).head(10)

                                         Likes
Name
Publix                                      82
Joe's Italian                               68
Cozumel Grill & Mexican Restaurant          52
The Depot Deli & Grill                      33
Donut Joe's                                 30
Jack's                                      29
Sonic Drive-In                              19
Zaxby's Chicken Fingers & Buffalo Wings     19
Hibachi Super Buffet                        18
El Patron                                   15

In [292]:
pop_yelp.sort_values(['rating', 'review_count'], ascending = False).head(10)

                                  name  review_count  rating
0      Smiley Brothers Specialty Foods            67     5.0
17     Blue Pacific At Hoover Foodmart           284     4.5
16                         Baha Burger           280     4.5
6                   Taqueria Garibaldi            75     4.5
1                          Donut Joe's            72     4.5
2              Oak Mountain State Park            72     4.5
3                         The Beer Hog            69     4.5
13  Ooka Chinese & Japanese Restaurant            69     4.5
8                         Pelham Diner            59     4.5
9                          La Libertad            40     4.5

## SQL

In [ ]:
def create_connection(path):
    
    try:
        connection = sqlite3.connect(path)
        print('Connection to SQLite DB successful')
    except Error as e:
        print(f'The error "{e}" occurred')
    return connection

## Run out of query

In [19]:
location = 'Vancouver'
v = '20200731'

In [106]:
fsq_url = requests.get('https://api.foursquare.com/v2/venues/search?near=' + location + '&client_id=' + fsq_client_id + '&client_secret=' + fsq_client_secret + '&v=' + v)

In [147]:
fsq_detail = requests.get('https://api.foursquare.com/v2/venues/4ae7afb2f964a52058ad21e3?client_id=' + fsq_client_id + '&client_secret=' + fsq_client_secret + '&v=' + v)

In [107]:
fsq_url

In [127]:
fsq_detail

In [113]:
fsq_json = fsq_url.json()
df_fsq = pd.json_normalize(fsq_json, record_path = ['response', 'venues'])
df_fsq.head()

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,location.cc,location.city,location.state,location.country,location.formattedAddress,location.postalCode
0,4ab56c01f964a520857420e3,King Edward SkyTrain Station,"[{'id': '4bf58dd8d48988d1fc931735', 'name': 'L...",v-1622825860,False,500 W King Edward Ave.,at Cambie St.,49.249120,-123.115703,"[{'label': 'display', 'lat': 49.24912042946037...",CA,Vancouver,BC,Canada,"[500 W King Edward Ave. (at Cambie St.), Vanco...",NaN
1,5a481d41610f044748e5e260,The Hobbit House,"[{'id': '4deefb944765f83613cdba6e', 'name': 'H...",v-1622825860,False,587 W King Edward Ave,NaN,49.249083,-123.116835,"[{'label': 'display', 'lat': 49.249083, 'lng':...",CA,Vancouver,BC,Canada,"[587 W King Edward Ave, Vancouver BC V5Z, Canada]",V5Z
2,5cf4eb74cabcff002c2ef9b3,Blue Hat Bistro,"[{'id': '4bf58dd8d48988d1c4941735', 'name': 'R...",v-1622825860,False,1505 #101 West 2nd Ave.,(Entrance on Anderson Street),49.269970,-123.137713,"[{'label': 'display', 'lat': 49.26996950868134...",CA,Vancouver,BC,Canada,[1505 #101 West 2nd Ave. ((Entrance on Anderso...,V6H 3Y4
3,4ae7afb2f964a52058ad21e3,Landmark Hot Pot House 春秋火鍋,"[{'id': '4bf58dd8d48988d145941735', 'name': 'C...",v-1622825860,False,4023 Cambie St.,at W. King Edward Ave.,49.249759,-123.115515,"[{'label': 'display', 'lat': 49.24975945918286...",CA,Vancouver,BC,Canada,"[4023 Cambie St. (at W. King Edward Ave.), Van...",V5Z 2X9‎
4,5be40c66b25fee002c19e60f,Starbucks,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",v-1622825860,False,"990 25 Ave W, Safeway Grocery Store",NaN,49.248601,-123.126520,"[{'label': 'display', 'lat': 49.248601, 'lng':...",CA,Vancouver,BC,Canada,"[990 25 Ave W, Safeway Grocery Store, Vancouve...",V5Z 2E2

In [146]:
pop_fsq = df_fsq[['name', 'id']]
print(len(df_fsq))
pop_fsq = pop_fsq.head(100)

30

In [144]:
ratings = []


for i in range(0, len(pop_fsq['id'])):
#     print(f'This is row {i}')
    
    fsq_id = pop_fsq['id'][i]
    try:
        fsq_rating = requests.get('https://api.foursquare.com/v2/venues/' + fsq_id + '?client_id=' + fsq_client_id + '&client_secret=' + fsq_client_secret + '&v=' + v)

        fsq_rating_json = fsq_rating.json()
        rating = fsq_rating_json['response']['venue']['rating']
    
        ratings.append(rating)
        
    except KeyError: 
#         print('No rating for this ID')
        ratings.append('NA')

In [145]:
print(ratings)

['NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA', 'NA']

In [ ]:
pop_fsq = pd.Series(ratings)

# df_fsq['rating'] = pd.Series(ratings)

In [149]:
fsq_detail_json = fsq_detail.json()
print(fsq_detail_json)
# fsq_detail_json['response']['venue']['rating']

# df_fsq_detail = pd.json_normalize(fsq_detail_json, record_path = ['response', 'venue'])
# df_fsq.head(10)

# pop_fsq = df_fsq[['name', 'id']]
# pop_fsq

{'meta': {'code': 429, 'errorType': 'quota_exceeded', 'errorDetail': 'Quota exceeded', 'requestId': '60ba7b7fea5de365004a1873'}, 'response': {}}