In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [3]:
first_json.to_json('json_columns.json', orient = 'columns')
first_json.to_json('json_index.json', orient = 'index')

In [4]:
df = pd.read_json('nested.json')

ValueError: arrays must all be same length

In [5]:
import json

In [6]:
with open('nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}
<class 'dict'>

In [7]:
from pprint import pprint

In [8]:
pprint(nested_json)

{'article': [{'author': 'Allen',
              'edition': 'first',
              'id': '01',
              'language': 'JSON'},
             {'author': 'Aditya Sharma',
              'edition': 'second',
              'id': '02',
              'language': 'Python'}],
 'blog': [{'URL': 'datacamp.com', 'name': 'Datacamp'}]}

In [10]:
pd.json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

In [21]:
blog = pd.json_normalize(nested_json, record_path = 'blog')
print(blog.head())
article = pd.json_normalize(nested_json, record_path = 'article')
article.head()

       name           URL
0  Datacamp  datacamp.com

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [23]:
# define json string
data = [
    {'state': 'Florida',
    'shortname': 'FL',
    'info': {'governor': 'Rick Scott'},
    'counties': [
        {'name': 'Dade', 'population': 12345},
        {'name': 'Broward', 'population': 4000},
        {'name': 'Palm Beach', 'population': 60000}]},
    {'state': 'Ohio',
     'shortname': 'OH',
     'info': {'governor': 'John Kasich'},
     'counties': [
         {'name': 'Summit', 'population': 1234}, 
         {'name': 'Cuyahoga', 'population': 1337}]}]

In [32]:
pd.json_normalize(data)
pd.json_normalize(data = data, record_path = 'counties', meta = ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward        4000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich