In [1]:
import xml.etree.ElementTree as et

In [6]:
tree = et.parse('data.xml')

In [4]:
print(type(tree))

<class 'xml.etree.ElementTree.ElementTree'>

In [10]:
root = tree.getroot()
root

In [13]:
print(root.tag)
print(root.attrib)
print(len(root))

data
{}
3

In [21]:
# First child of the root
country1 = root[0]

# First child of the child
rank = country1[0]

# What is the tag of the grandchild
print(rank.tag)

# What is the text inside this grandchild
print(rank.text)

# What are the attributes of last element?
print(country1[4].attrib)

rank
1
{'name': 'Switzerland', 'direction': 'W'}

In [26]:
# Third child of the root
country3 = root[2]

In [64]:
# Find all child with tag country
for country in root.findall('country'):
    # rank is child of the country
    rank = country.find('rank').text
    # name is attribute of the country
    name = country.get('name')
    print(name, rank)

Liechtenstein 1
Singapore 4
Panama 68

In [27]:
for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [256]:
# Top-level elements
root.findall(".")

# All 'neighbor' grand-children of 'country' children of the top-level elements
root.findall("./country/neighbor")

# elements with name='Singapore' that have a 'year' child
root.findall(".//year/..[@name='Singapore']")

# 'year' elements that are children of elements with name='Singapore'
root.findall(".//*[@name='Singapore']/year")

# All 'neighbor' elements that are the second child of their parent
root.findall(".//neighbor[2]")

[<Element 'neighbor' at 0x000001F40BEBB810>,
 <Element 'neighbor' at 0x000001F40BEBBB80>]

In [246]:
test = root.findall('.//year/..[@name="Singapore"]')
test

In [197]:
for element in root.findall('./'):
    print(element)

<Element 'country' at 0x000001F40BEBB680>
<Element 'country' at 0x000001F40BEBB860>
<Element 'country' at 0x000001F40BEBB9F0>

In [37]:
# Extract the name, rank, year and gdppc from the countries and create a Pandas DataFrame.
import pandas as pd

In [38]:
tree = et.parse('data.xml')
root = tree.getroot()

In [41]:
my_dict = {'name': [],
          'rank': [],
          'year': [],
          'gdppc': []}

for country in root:
    name_value = country.attrib['name']
    my_dict['name'].append(name_value)
    
    rank_value = country[0].text
    my_dict['rank'].append(rank_value)
    
    year_value = country[1].text
    my_dict['year'].append(year_value)
    
    gdppc_value = country[2].text
    my_dict['gdppc'].append(gdppc_value)

In [42]:
df = pd.DataFrame(my_dict)
df

            name rank  year   gdppc
0  Liechtenstein    1  2008  141100
1      Singapore    4  2011   59900
2         Panama   68  2011   13600