# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 1

#### 2. asign any number of type float to the variable "num_2"

In [5]:
num_2 = 2.1

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [8]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [9]:
type(total)

float

#### 5. assign variable "height" with your height

In [10]:
height = 175

#### 6. asign variable "mass" with your weight

In [11]:
mass = 78

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [13]:
bmi = mass / (height * height)

#### 8. print value from "bmi" variable

In [14]:
print(bmi)

0.002546938775510204

# String

#### 1. Create variable "name" with your first name

In [18]:
name = 'Kevin'

#### 2. Create variable "surname" with your surname

In [27]:
surname = 'Ting'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [28]:
name_surname = name + " " + surname

#### 4. print variable "name_surname"

In [29]:
print(name_surname)

Kevin Ting

#### 5. print first letter from variable "name_surname"

In [30]:
name_surname[0]

'K'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [31]:
name_surname[:5]

'Kevin'

#### 7. print your surname 10x (use variable surname)

In [33]:
print(surname * 10)

TingTingTingTingTingTingTingTingTingTing

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [35]:
message = "Hello my name is " + name_surname

#### 9. print "message" variable

In [36]:
print(message)

Hello my name is Kevin Ting

## List

#### 1. create empty list with name "empty_list"

In [37]:
empty_list = []

#### 2. create list "heights" with five random values

In [38]:
heights = [10, 20, 30, 40, 50]

#### 3. print heights

In [39]:
print(heights)

[10, 20, 30, 40, 50]

#### 4. print type of variable "heights"

In [40]:
type(heights)

list

#### 5. print second value from "heights"

In [41]:
heights[1]

20

#### 6. assign last three values from "heights" to another list "heights_2"

In [42]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [43]:
print(heights_2)

[30, 40, 50]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [44]:
list_all = heights + heights_2

#### 9. print "list_all"

In [45]:
print(list_all)

[10, 20, 30, 40, 50, 30, 40, 50]

#### 10. print the type of "list_all"

In [46]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [49]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [52]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [53]:
"tuple is immutable"

'tuple is immutable'

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [54]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [58]:
heights_dict = {'Kevin': 175}

#### 3. asign another name and height to "heights_dict"

In [60]:
heights_dict['Yuna'] = 160

#### 4. print "heights_dict" dictionary

In [61]:
print(heights_dict)

{'Kevin': 175, 'Yuna': 160}

#### 5. print your height from the "heights_dict" dictionary

In [62]:
heights_dict['Kevin']

175

#### 6. print all values from "heights_dict" dictionary

In [63]:
heights_dict.values()

dict_values([175, 160])

#### 7. print all keys from "heights_dict" dictionary

In [64]:
heights_dict.keys()

dict_keys(['Kevin', 'Yuna'])