In [1]:
import sqlite3
from sqlite3 import Error

In [4]:
def create_connection(path):
    
    try:
        connection = sqlite3.connect(path)
        print('Connection to SQLite DB successful')
    except Error as e:
        print(f'The error "{e}" occurred')
    return connection

In [5]:
connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

## Creating Tables

In [6]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query executed successfully')
    except Error as e:
        print(f'The error "{e}" occured')

In [7]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    gender TEXT,
    nationality TEXT);
"""

In [9]:
execute_query(connection, create_users_table)

Query executed successfully

In [10]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    description TEXT NOT NULL,
    user_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id));
"""

In [11]:
execute_query(connection, create_posts_table)

Query executed successfully

In [12]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    text TEXT NOT NULL,
    user_id INTEGER NOT NULL,
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id));
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    post_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id));
"""

In [14]:
execute_query(connection, create_comments_table)
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

## Inserting Records

In [15]:
create_users = """
INSERT INTO
    users (name, age, gender, nationality)
VALUES
    ('James', 25, 'male', 'USA'),
    ('Leila', 32, 'female', 'France'),
    ('Brigitte', 35, 'female', 'England'),
    ('Mike', 40, 'male', 'Denmark'),
    ('Elizabeth', 21, 'female', 'Canada');
"""

In [16]:
execute_query(connection, create_users)

Query executed successfully

In [20]:
create_posts = """
INSERT INTO
    posts (title, description, user_id)
VALUES
    ('Happy', 'I am feeling very happy today', 1),
    ("Hot Weather", "The weather is very hot today", 2),
    ("Help", "I need some help with my work", 2),
    ("Great News", "I am getting married", 1),
    ("Interesting Game", "It was a fantastic game of tennis", 5),
    ("Party", "Anyone up for a late-night party today?", 3);
"""

In [21]:
execute_query(connection, create_posts)

Query executed successfully

In [22]:
create_comments = """
INSERT INTO
    comments (text, user_id, post_id)
VALUES
    ('Count me in', 1, 6),
    ('What sort of help?', 5, 3),
    ('Congrats buddy', 2, 4),
    ('I was rooting for Nadal though', 4, 5),
    ('Help with your thesis?', 2, 3),
    ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
    likes (user_id, post_id)
VALUES
    (1, 6),
    (2, 3),
    (1, 5),
    (5, 4),
    (2, 4),
    (4, 2),
    (3, 6);
"""

In [23]:
execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

## Selecting Records

In [24]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f'The error "{e}" occurred')

In [25]:
select_users = 'SELECT * FROM users'
users = execute_read_query(connection, select_users)

In [26]:
for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')

## Updating Table Records

In [29]:
update_post_description = """
UPDATE
    posts
SET
    description = 'The weather has become pleasant now'
WHERE
    id = 2
"""

In [30]:
execute_query(connection, update_post_description)

Query executed successfully

## Deleting Table Records

In [31]:
delete_comment = 'DELETE FROM comments WHERE id = 5'

In [32]:
execute_query(connection, delete_comment)

Query executed successfully